services:
  mongo:
    image: mongo:6
    container_name: mean-mongo
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

  backend:
    image: soneeya/mean-backend:v1
    container_name: mean-backend
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      - NODE_ENV=production
      - MONGO_URL=mongodb://mongo:27017/angular-15-crud

  frontend:
    image: soneeya/mean-frontend:v1
    container_name: mean-frontend
    restart: unless-stopped
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mean-nginx
    depends_on:
      - frontend
      - backend
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro

volumes:
  mongo_data:
