name: CI/CD - Build, Push & Deploy

on:
  push:
    branches: [ main ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & push backend image
        uses: docker/build-push-action@v6
        with:
          context: ./crud-dd-task-mean-app/backend
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mean-backend:v1

      - name: Build & push frontend image
        uses: docker/build-push-action@v6
        with:
          context: ./crud-dd-task-mean-app/frontend
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/mean-frontend:v1

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USER }}
          key: ${{ secrets.VM_SSH_KEY }}
          port: 22
          script: |
            cd ~/discover-dollar-app/discover-dollar-mean-crud-devops/crud-dd-task-mean-app
            git pull
            docker compose pull
            docker compose up -d
